<!DOCTYPE html>
<html>
<head>
    <title>Question Recorder</title>
    <style>
        .image-button {
            display: inline-block;
            cursor: zoom-in;
        }
    </style>
</head>
<body>
    <h1>QA Recorder</h1>
    <a href="/questionnaire">
        <img src="./static/chimpanzee.webp" alt="Button" height="320" class="image-button">
    </a>
    <h2>Unleash</h2>
    <p>1. figure out how to run this on the cloud. 
    2. user sign in
    3. database to store each individuals csv list tracking the their recordings.
    4. store data toan s3 bucket? possibly trigger another instance to spin up to transcribe the text, update the csv file.
    </p>
</body>
</html>
